@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-laravel {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#admin-page {
  padding-top: 0px;
}

#nested-comment {
  margin-top: 40px;
}

.comment-reply {
  display: none;
}

